%form.pure-form(action=@form_action method='post' enctype='multipart/form-data')
  %fieldset.pure-group
    %label(for='banner_image')
      Banner image:
    %input.pure-input-1.pure-input-rounded(type='file' name='banner_image' required)
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='text' name='event_url' placeholder='Custom url (eg: may-day-2018)' required)
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='text' name='title' placeholder='Event Title' required)
  %fieldset.pure-group
    %textarea.pure-input-1.pure-input-rounded(type='textarea' name='description' placeholder='Event description' rows='5' required)
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='text' name='location' placeholder='Address' required)
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='datetime-local' name='start_time' placeholder='Start Date / Time' required)
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='datetime-local' name='end_time' placeholder='End Date / Time' required)
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button.pure-button.pure-input-1.pure-button-primary(type='submit')
    Submit
