%div#layout
  %a.menu-link#menuLink(href='#menu')
    %span

  %div#menu
    %div.pure-menu
      %a.pure-menu-heading{ href: '/' }
        OrgHub

      - if current_user
        %form.pure-form(action='/groups/set' method='post')
          %select#current-group{ name: 'target_group' }
            - selectable_groups.each do |group|
              - is_selected = session[:current_group_id].to_i == group.id
              %option{ value: "#{group.id}", selected: is_selected }
                = group.name[0..10]
          %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

          %button.pure-button(type='submit')
            Switch Org

      %ul.pure-menu-list
        - @nav_links.each do |link|
          %li.pure-menu-item
            %a.pure-menu-link{ href: link[:path] }
              = link[:name]

        %li.pure-menu-item
          - if !current_user
            %a.pure-menu-link{ href: '/login' }  Login
          - else
            %a.pure-menu-link{ href: '/logout' } Logout
